*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* For testing only */

/**:not(body):not(html):not(.container) {
  box-sizing:border-box;
  border:2px dashed #000;
}*/

/* End for testing */

@-ms-viewport{
  width: device-width;
}

body {
  color: #fff;
  font-weight: 300;
  background-color: #000;
}
.container {
  width: 90%;
  margin: 5% auto;
}

.nav {
  background-color: #fff;
}

.nav h3 {
  font-family: 'Ultra', serif;
  letter-spacing: .2em;
  color: #000;
}

.nav ul {
  list-style: none;
  background-color: blue;
}

.nav li {
  color: #fff;
  font-weight: 400;
  display: inline;
}

.col1, .col2 {
  width: 100%;
}

.main {
  /*background-color: rgba(225, 225, 0, .57);*/
  height: 50vh;
}

.main img {
  width: 100%;
  display: block;
}

.col1 {
  margin: 5% 0;
  background-color: #FF3800;
  height: 18.5vh;
}

.col1 h3 {
  font-family: 'Ultra', serif;
  letter-spacing: .2em;
  color: #fff;
  font-size: 24px;
}

.col1 p {
  color: #000;
}

.col2 {
  margin: 5% 0;
  background-color: #000;
  height: 18.5vh;
  color: #fff;
}

.col2 img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .col1, .col2 {
    width: 48%;
    height: 50vh;
    margin: 5% 0 0 0;
  }

html, body {
  margin: 0;
}

  .col1 {
    float: left;
  }

  .col2 {
    float: right;
  }

}

@media screen and (min-width: 1280px) {

  body {
    background-color: #fff;
  }

  .main {
    float: left;
    width: 72%;
    height: 100vh;
    margin-right: .70vw;
}

  .col1, .col2 {
    float: right;
    height: 49vh;
    width: 27%;
    padding: 3.5%;
  }

  .col1 {
    margin: 0 0 1vh 0;
  }

  .col2 {
    margin: 1vh 0 0 0;
  }

  .col2 img {
    float:left;
    width: 60%;
    padding-bottom: 4vh;
    padding-top: 0vh;
  }

  .col2 p {
    clear:both;
    font-size: 13px;
    letter-spacing: .75px;
    /*font-weight: 500;*/
    line-height: 20px;
  }
}
